In [68]:
List1 = ['Chennai', 'Bangalore', 'Delhi'] #example of a list

In [69]:
List1[0] #1st element

'Chennai'

In [70]:
List1[-1] #last element

'Delhi'

In [71]:
List1.append('Calcuta') #append to list

In [72]:
List1

['Chennai', 'Bangalore', 'Delhi', 'Calcuta']

In [73]:
List2 = ['Coimbatore', 'Pilani'] #create 2nd list

In [74]:
List1.extend(List2) #if you want to add one list to another

In [75]:
List1

['Chennai', 'Bangalore', 'Delhi', 'Calcuta', 'Coimbatore', 'Pilani']

In [76]:
List1.remove('Pilani')

In [77]:
List1

['Chennai', 'Bangalore', 'Delhi', 'Calcuta', 'Coimbatore']

In [78]:
List1.pop()

'Coimbatore'

In [79]:
List1

['Chennai', 'Bangalore', 'Delhi', 'Calcuta']

In [80]:
List1.reverse()

In [81]:
List1

['Calcuta', 'Delhi', 'Bangalore', 'Chennai']

In [82]:
List1.sort()

In [83]:
List1  #notice that the list is sorted in place

['Bangalore', 'Calcuta', 'Chennai', 'Delhi']

In [84]:
Sorted_List1 = sorted(List1)   #this will not sort the original list

In [85]:
Sorted_List1

['Bangalore', 'Calcuta', 'Chennai', 'Delhi']

In [86]:
min(List1)  #with numbers these functions will make more sense.

'Bangalore'

In [87]:
max(List1)

'Delhi'

In [88]:
List1.index('Calcuta')

1

In [89]:
List1.index('Chennai')   #this error is expected

2

In [90]:
print('Bangalore' in List1)  #this will be use for if statements

True

In [91]:
for item in List1:   
    print(item)

Bangalore
Calcuta
Chennai
Delhi

In [92]:
for index,items in enumerate(List1):
    print(index, items)

0 Bangalore
1 Calcuta
2 Chennai
3 Delhi

In [93]:
for index,items in enumerate(List1, start = 1): #the enumerate starts at 1
    print(index, items)

1 Bangalore
2 Calcuta
3 Chennai
4 Delhi

In [94]:
List1_str = '+ '.join(List1)

In [95]:
print(List1_str) #it joins the elements of List1 by +

Bangalore+ Calcuta+ Chennai+ Delhi

In [96]:
new_List1 = List1_str.split('+ ')  #opposite of join is split

In [97]:
new_List1  #back to list from string

['Bangalore', 'Calcuta', 'Chennai', 'Delhi']