In [1]:
List1 = ['Chennai', 'Bangalore', 'Delhi'] #example of a list

In [2]:
List1[0] #1st element

'Chennai'

In [3]:
List1[-1] #last element

'Delhi'

In [4]:
List1.append('Calcuta') #append to list

In [5]:
List1

['Chennai', 'Bangalore', 'Delhi', 'Calcuta']

In [6]:
List2 = ['Coimbatore', 'Pilani'] #create 2nd list

In [7]:
List1.extend(List2) #if you want to add one list to another

In [8]:
List1

['Chennai', 'Bangalore', 'Delhi', 'Calcuta', 'Coimbatore', 'Pilani']

In [9]:
List1.remove('Pilani')

In [10]:
List1

['Chennai', 'Bangalore', 'Delhi', 'Calcuta', 'Coimbatore']

In [11]:
List1.pop()

'Coimbatore'

In [12]:
List1

['Chennai', 'Bangalore', 'Delhi', 'Calcuta']

In [13]:
List1.reverse()

In [14]:
List1

['Calcuta', 'Delhi', 'Bangalore', 'Chennai']

In [15]:
List1.sort()

In [16]:
List1  #notice that the list is sorted in place

['Bangalore', 'Calcuta', 'Chennai', 'Delhi']

In [17]:
Sorted_List1 = sorted(List1)   #this will not sort the original list

In [18]:
Sorted_List1

['Bangalore', 'Calcuta', 'Chennai', 'Delhi']

In [19]:
min(List1)  #with numbers these functions will make more sense.

'Bangalore'

In [20]:
max(List1)

'Delhi'

In [21]:
List1.index('Calcuta')

1

In [22]:
List1.index('Chennai')   #this error is expected

2

In [23]:
print('Bangalore' in List1)  #this will be use for if statements

True

In [24]:
for item in List1:   
    print(item)

Bangalore
Calcuta
Chennai
Delhi

In [25]:
for index,items in enumerate(List1):
    print(index, items)

0 Bangalore
1 Calcuta
2 Chennai
3 Delhi

In [26]:
for index,items in enumerate(List1, start = 1): #the enumerate starts at 1
    print(index, items)

1 Bangalore
2 Calcuta
3 Chennai
4 Delhi

In [27]:
List1_str = '+ '.join(List1)

In [28]:
print(List1_str) #it joins the elements of List1 by +

Bangalore+ Calcuta+ Chennai+ Delhi

In [29]:
new_List1 = List1_str.split('+ ')  #opposite of join is split

In [30]:
new_List1  #back to list from string

['Bangalore', 'Calcuta', 'Chennai', 'Delhi']

In [31]:
copy_List1 = List1
print(List1)
print(copy_List1)

['Bangalore', 'Calcuta', 'Chennai', 'Delhi']
['Bangalore', 'Calcuta', 'Chennai', 'Delhi']

In [32]:
List1[0] = 'Coimbatore'

In [34]:
print(List1)
print(copy_List1)   #copy_List1 was also modified because lists are mutable! for immutable objects check out tuples.

['Coimbatore', 'Calcuta', 'Chennai', 'Delhi']
['Coimbatore', 'Calcuta', 'Chennai', 'Delhi']